    <div class="px-3 py-2 bg-tsb text-white">
      <div>
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="/assets/images/tsb-logo.png" alt="TSB" height="50px">
          </a>

          <ul class="nav col-lg-auto my-2 justify-content-end my-md-0 text-small">
            <li>
              <a [routerLink]="['/dashboard']" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                Products
              </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>

                    Solutions
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Design</a></li>
                    <li><a class="dropdown-item" href="#">Build</a></li>
                    <li><a class="dropdown-item" href="#">Execute</a></li>
                    <li><a class="dropdown-item" href="#">Maintain</a></li>
                    <li><a class="dropdown-item" href="#">Others</a></li>
                  </ul>
              </li>
            <li>





            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Team
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                Team Structure
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
