<section class="text-center bg-gradient-custom d-flex flex-column ">
    <div class="row justify-content-between py-2 container">
        <div class="col-auto">
            <img class="logo" src="/assets/images/quinnox-logo.svg" alt="Quinnox" height="50px">
        </div>
        <div class="col-auto">
            <img src="/assets/images/qyrus-logo-blue.svg" alt="" height="40px">
        </div>
    </div>
    <div class="flex-grow-1 text-center d-flex align-items-center">
        <main class="form-signin  card bg-white p-4 rounded mx-auto shadow" >
          <form>
            <img class="mb-4" src="/assets/images/tsb-logo.png" alt="" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating mb-2">
              <input type="email" class="form-control shadow-sm" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control shadow-sm" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
        
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" onclick="submitPassword()">Sign in</button>
          </form>
        </main>
    </div>
</section>