    <header class="nav bg-light ">
      <div class="container">
        <div class="row align-items-center">
          <div class="column align-left">
            <a
              href="index.html"
              aria-current="page"
              class="w-inline-block w--current"
            >
              <!-- <div class="logo"><span class="emoji mr-md">🌎</span> Lander</div> -->
              <img class="logo" src="/assets/images/tsb-logo.png" alt="TSB">
            </a>
          </div>
          <div class="column align-right">
            <div class="row items-center">
              <!-- <a href="#" class="u mr-lg">Log in</a -->
                <a
                href="https://www.quinnox.com"
                aria-current="page"
                class="w-inline-block w--current"
              >
                <!-- <div class="logo"><span class="emoji mr-md">🌎</span> Lander</div> -->
                <img class="logo" src="/assets/images/quinnox-logo.svg" alt="Quinnox">
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="section overflow-hidden">
      <div class="container mt-3xl mb-3xl">
        <div class="row">
          <div class="column align-center">
            <h1 class="test-giga text-center">Quality assurance made easy
</h1>
            <p class="text-lg text-center max-w-lg"> We make quality control super simple. It&#39;s a centralised, enterprise QA testing platform. You set up the tests, we execute them - and you get your clear results in minutes.</p>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="button xl main mt-lg w-button"> Explore</a>
            <!-- <div class="text-sm mt-md muted">
              14 day free trial • No credit card required
            </div> -->
            <div class="text-sm mt-2xl text-center">
              Powered by Quinnox Platforms
            </div>
            <div               
            class="
            row
            items-center
            mt-lg
            _w-full
            max-w-lg
            wrap
            justify-center
          "
          style="margin: 30px 0;"
          >
                <div class="logo-container">
                  <img
                  style="height: 50px;"
                    src="/assets/images/qyrus-logo-blue.svg"
                    alt="Qyrus"
                    class="intercom"
                  />
                </div>
                <div class="logo-container">
                  <img
                  style="height: 100px;"
                    src="/assets/images/qinfinite-logo.png"
                    alt="Qinfinite"
                    class="intercom"
                  />
                </div>

            </div>
            <div
              class="
                row
                items-center
                mt-lg
                _w-full
                max-w-lg
                wrap
                justify-center
              "
            >
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/API monitoring service icon.png"
                  alt="API Monitoring"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/API testing service icon.png"
                  alt="API Testing"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Component service icon.png"
                  alt="Component"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Device Farm service icon.png"
                  alt="Device farm"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Mobile testing service icon.png"
                  alt="Mobile Testing"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Rover service icon.png"
                  alt="Rover Testing"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Service Virtualization service icons.png"
                  alt="Service Virtualization"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Web Performance Service Icon.png"
                  alt="Web Performance"
                  class="intercom"
                />
              </div>
              <div class="logo-container">
                <img
                  src="/assets/images/service-logos/Web testing Service Icon.png"
                  alt="Web Testing"
                  class="intercom"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="circle"></div>
    </div>
    <div class="section">
      <img
        src="http://api.writesonic.com/static/images/product-shot.png"
        srcset="
        http://api.writesonic.com/static/images/product-shot-p-500.png  500w,
        http://api.writesonic.com/static/images/product-shot-p-800.png 800w,
        http://api.writesonic.com/static/images/product-shot-p-1080.png 1080w,
        http://api.writesonic.com/static/images/product-shot.png 1521w
      "
        sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, 720px"
        data-w-id="a4177896-a5e5-6c6a-0980-01ce8ea2054a"
        style="opacity: 1"
        alt=""
        class="product-shot"
      />
    </div>
    <div class="section">
      <div class="container mt-2xl mb-2xl">
        <div class="row">
          <div class="column align-center">
            <h2 class="max-w-lg text-center">Test Factory - Enterprise QA Testing Platform
</h2>
            <p class="text-lg text-center max-w-md">
               TestFactory is the only enterprise-grade, centralised testing platform that enables you to go from idea to high quality market release in record time.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row items-center v-t">
          <div class="column align-left p-2xl">
            <h6 class="max-w-lg">#1 Feature</h6>
            <h2 class="max-w-lg">Test like a pro.
</h2>
            <p class="text-lg"> Testing has never been easier, faster, or more powerful than with Test Factory. Our scientific data driven test design process makes the most of inputs from experts and SMEs and real production data to get you the fastest test results.</p>
          </div>
          <div class="column align-center p-2xl">
            <img
              src="http://api.writesonic.com/static/images/marginalia-coming-soon.png"
              alt=""
              class="feature-card"
            />
          </div>
        </div>
        <div class="row reverse items-center v-t">
          <div class="column align-left p-2xl">
            <h6 class="max-w-lg">#2 Feature</h6>
            <h2 class="max-w-lg">Get your QA tests done right.
</h2>
            <p class="text-lg"> Test Factory is a centralised enterprise QA testing platform—automate, build, and execute tests without any coding knowledge. Run your functional and GUI tests at the push of a button and get the feedback you need to make smarter decisions.</p>
          </div>
          <div class="column align-center p-2xl">
            <img
              src="http://api.writesonic.com/static/images/marginalia-online-shopping.png"
              alt=""
              class="feature-card"
            />
          </div>
        </div>
        <div class="row items-center v-t">
          <div class="column align-left p-2xl">
            <h6 class="max-w-lg">#3 Feature</h6>
            <h2 class="max-w-lg">Get your app or website built, tested, and ready to launch fast.
</h2>
            <p class="text-lg"> Shifting testing left is a great way to get your app or website done faster. Integrate with CI and start testing at build time. With virtualized services, you can also shift testing left and still have the flexibility of running tests on demand as needed.</p>
          </div>
          <div class="column align-center p-2xl">
            <img
              src="http://api.writesonic.com/static/images/marginalia-order-complete.png"
              alt=""
              class="feature-card"
            />
          </div>
        </div>
      </div>
    </div>

